.button-index {
    color: var(--hero-text-color);
    background-color: var(--accent-text-color);
    border-color: var(--accent-text-color);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    font-family: inherit;
    cursor: pointer;

    height: 50px;
    min-width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-style: none;

    transition-property: background-color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @include desktop {
        min-width: 216px;
    }
}

.button-index {
    &:hover,
    &:focus {
    background-color: #188CE8;
    border-color: #188CE8;
    }
}

.modal__button-index {
    min-width: 200px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.footer__button-index {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;

    @media screen and (max-width: 1199px) {
            margin: 0 auto;
        }
}

.button-index__icon {
    fill: currentColor;
    margin-left: 10px;
}

