%list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

%link {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

%link {
   
    &:hover {
        color: var(--accent-text-color);
    }

    &:focus {
        color: var(--accent-text-color);
    }
    
}