:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --hero-text-color: #FFFFFF;
    --accent-text-color: #2196F3;
    --logo-text-color: #000000;
    --primery-bg-color: #FFFFFF;
    --hero-bg-color: #2F303A;
    --team-bg-color: #F5F4FA;
    --hero-bg: #C4C4C4;
    --icon-color: #AFB1B8;
}